PORT=3333
MONGO_URI=
JWT_SECRET=
EDUAI_MODE=mock
GEMINI_API_KEY=
GEMINI_MODEL=gemini-1.5-flash
PREMIUM_PRICE=5
FRONTEND_URL=http://localhost:5180
BACKEND_URL=http://localhost:3333
MERCADO_PAGO_ACCESS_TOKEN=
